.input-label{
    text-align: left;
    font-weight: bold;
}

input{
    font-size: 15px;
    margin: 7px;
    padding: 5px;
}

#submit{
    background-color: rgb(72, 185, 72);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.success-alert{
    font-style: italic;
    color: green;
    display: none;
}